.pageNotFoundWrapper {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.pageNotFoundContainer {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.pageNotFoundHeader {
    color: white;
    font-weight: bold;
    margin: 0
}

.rockContainer {
    display: flex;
    justify-content: center;
}

.rock:hover {
    cursor: pointer;
}

.korokContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: italic;
    margin-top: 10px;
}

.homeLinkContainer {
    color: white;
    text-align: center;
    margin-top: 10px;
    background-color: rgb(58, 58, 58);
    border-radius: 5px;
}
.homeLinkContainer:hover {

    background-color: rgb(94, 94, 94);
}

.homeLinkContainer button {
   display: inline-block;
   box-sizing: border-box;
   width: 100%;
   padding: 10px;
   text-align: center;
   cursor: pointer;
   background-color: rgb(58, 58, 58);
   border: none;
   border-radius: 5px;
   color: white;
}

@media only screen and (max-width: 500px) {
    .korok {
        height: 150px;
        width: 300px
    }
}

@media only screen and (min-width: 500px) {

.korok {
    height: 230px;
    width: 500px;
}
}
