.eventDate {

    color: rgb(196, 135, 253);
    font-family: 'Exo 2', sans-serif
;
}

.eventItemWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    padding: 0px;
    background-clip: padding-box;
    background-size: cover;
    height: 350px;
    width: 250px;
    overflow-wrap: break-word;
    border-radius: 10px;
}

.image {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
        display: block;
        margin: 0;
        padding: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }

.homePageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 2500px;
}

.homePageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px;
    padding: 30px;
    box-sizing: border-box;
    height: 100%;
    width: 90vw;
    background-color: rgb(28, 30, 33);
    border-radius: 10px;
}

.homePageSearchForm {
    box-sizing: border-box;
    width: 100%;
    padding: 20px;
    border-radius: 5px;
    display: flex;
   justify-content: center;
}

.homePageSearchInput {
    width: 100%;
    border-radius: 5px;
    background-color: rgb(28, 30, 33);
    border: 1px solid black;
    padding: 12px;
    padding-left: 50px;
    margin-right: 20px;
    color: white;
    font-family: 'Cabin';
    border: 1px solid rgb(87, 87, 87)
}

.homePageSearchInput::placeholder {
    color: rgb(145, 145, 145);
    font-family: 'Cabin'
}

.homePageEventsContainer {
        padding: 10px;
        border-radius: 20px;
        width: 80%;
        height: auto;
        max-height: 50vh;
        flex-direction: row;
    }

.homePageSearchInput:valid,
.homePageSearchInput:invalid {
    border: 1px solid rgb(87, 87, 87)
}

.homePageSearchInput:focus {
    border-color: #d3d0d0;
}

.homePageSearchContainer {
    display: flex;
    width: 100%;
    max-width: 800px;
}

.homePageSearchIconContainer {

    box-sizing: border-box;
    border-right: 1px solid #d3d0d0;
    position: absolute;
    text-align:center;
    height: 49px;
    padding: 10px;
    /* right: 900px; */
    margin-right: 10px;
}

.homePageSearchIcon {
    position:relative;
    top: 8px;
    display:inline-block;
    text-align: center;
    box-sizing: border-box;
    color: gray;

}

.homePageSearchSubmit {
    background-color: #1b67ff;
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 5px;
    text-align: center;
    line-height: 25px;
    cursor: pointer;
    color: white;
    border: none;
}

.homePageSearchSubmit:hover {
    color: white;
    background-color: #578fff;
}

.homePageEventsContainer {
    margin: 30px;
    margin-bottom: 100px;
}

.squadronHomePageDescriptionContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: auto;
}

.squadronSplashContainer1,
.squadronSplashContainer2 {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 600px;
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.squadronSplashContainer1 {
    background: url('https://i.pinimg.com/originals/89/d9/7a/89d97a33afc97124a9f4a62d25ad58b4.jpg') no-repeat center center fixed
}

.squadronSplashContainer2 {
    background: url('https://sm.ign.com/t/ign_es/video/1/1-the-master-sword-legend-of-zelda-igns-top-100-vi/1-the-master-sword-legend-of-zelda-igns-top-100-vi_rkqb.1280.jpg') no-repeat center scroll;
    background-position: center -40px;
    border: none;
    margin-top: 75px;
    height: 300px;
    overflow: hidden;
    width: 60%
}

.squadronSplashHeadingContainer {
    color: white;
    font-family: 'Roboto Condensed';
    font-size: 5em;
    font-weight: bold;
    text-align: center;
    height: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4)
}

.splashRegisterButtonContainer {
    margin-top: 50px;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 90px;
}

.splashRegisterButton {
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    background-color: #1b67ff;
    color:white;
    cursor: pointer;
    transition: .2s all;
    box-sizing: border-box;
    width: 200px;
    height: 60px;

}

.splashRegisterButton:hover {
    background-color: #578fff;
    width: 205px;
    height: 65px;

}

/* Small Screens */
@media only screen and (max-width: 800px) {

    .homePageBannerWrapper {
        position: relative;
        width: 100%;
    }

    .homePageContent {
        width: 100%;
        padding: 0px;
        margin: 0px;
        border-radius: 0px;
    }

    .homePageWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .homePageSearchForm {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0px;
        align-items: center;
        box-sizing: border-box;
        justify-content: center;
        padding: 15px;
    }

    .homePageSearchContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .homePageSearchInput {
        box-sizing: border-box;
        padding: 23px;
        padding-left: 50px;
    }

    .homePageSearchSubmit {
        width: 100%;
        box-sizing: border-box;
        margin-top: 15px;
    }

    .homePageSearchInput {
        width: 100%;
    }

    .homePageWrapper {
        width: 100vw
    }
    .homePageBannerWrapper {
        position: relative;
        width: 100%;
    }
    .homePageBanner {
        width: 100%;
        padding-left: 30px;
        padding-top: 50px;
        padding-bottom: 30px;
        right: -30px;
        background-color: rgba(0, 0, 0, 0.4);
    }
    .homePageHeader {
        font-size: 4rem;
        color: white;
        font-weight: bold;
        font-family: 'Roboto Condensed';
        font-style: italic;
        text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    }

    .homePageSubHeader {
        color: white;
        margin: 0;
        margin-bottom: 20px;
        font-size: 2rem;
        text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
        width: 80%;
        text-transform: uppercase;
    }

    .joinSquadronContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        /* width: fit-content; */
    }

    .joinSquadron {
        color: white;
        background-color: #1b67ff;
        border-radius: 5px;
        padding: 10px;
        width: fit-content;
    }

    .joinSquadron:visited {
        color: white;
    }

    .joinSquadron:hover {
        background-color: #578fff;
    }

    .homePageEventsContainer {
        padding: 10px;
        background-color: rgb(58, 58, 58);
        border-radius: 20px;
        color: white;
        height: auto;
        position: relative;
    }

    .homePageEventsHeader {
        display: flex;
        margin-right: 10px;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
    }

    .upcomingEvents {
        margin-left: 10px;
    }

    .allEventsLink {
        margin-right: 15px;
    }

    .allEventsLink:hover {
        color: teal;
    }

    .homePageEventList {
        display: flex;
        list-style: none;
        overflow-x: scroll;
    }

    .eventItemContent {
        box-sizing: border-box;
        margin: 0px;
        min-width: 0px;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
    }

    .eventLink {
        display: block;
        cursor: pointer;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        overflow: hidden;
    }

    .eventContainer:hover {
        background-color: rgb(124, 124, 124);
    }

    .eventItem {
        width: auto;
        padding-left: 20px;
        padding-bottom: 4px;
        margin: 0;
        display: flex;
        flex: 0 0 auto;
        box-sizing: border-box;
        justify-content: center;

    }

    .imageContainer {
        position: absolute;
        display:block
    }

    .informationContainer {
        width: 100%;
        padding-top: 10px;
        padding-left: 10px;
        text-overflow:ellipsis;
        overflow: hidden;
        white-space: nowrap
    }

    .informationContainer p {
        margin: 5px;
        display: flex;
        flex-direction: column;
    }

    .eventContainer {
        display: flex;
        flex-direction: column;
        margin: 0px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow: hidden;
        border-radius: 10px;;
    }

    .imageContainerWrapper {
        width: 100%;
        height: 140px;
    }



    .eventGameLinkContainer {
        width: 100%;
        text-overflow:ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .eventGame {
        margin: 5px;
        width: 100%;
        cursor: pointer;
        z-index: 0;
        position: relative;
    }

    .eventGame:hover {
        color: rgb(189, 189, 189);
        text-decoration: underline;
    }

    .eventDate {
        font-style:italic;
        font-weight: bold;
        font-size: .8em;
    }

    tbody {
        font-size: .8em;
    }

    .eventTitle {
        font-size: .9em;
    }

    ul {
        list-style: none;
    }
}

/* Large Screens */
@media only screen and (min-width: 800px) {

.homePageBannerWrapper {
        position: relative;
        width: 100%;
    }

    .homePageBanner {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 50px;
        padding-top: 50px;
        right: -30px;
        margin-bottom: 20px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.6);
    }
    .homePageHeader {
        font-size: 4rem;
        color: white;
        font-weight: bold;
        font-family: 'Roboto Condensed';
        font-style: italic;
        text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    }

    .homePageSubHeader {
        color: white;
        margin: 0;
        margin-bottom: 20px;
        font-size: 2rem;
        text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
        width: 80%;
        text-transform: uppercase;
    }

    .joinSquadronContainer {
        margin: 10px;
        padding-bottom: 20px;
        /* width: fit-content; */
    }

    .joinSquadron {
        color: white;
        border-radius: 5px;
        background-color: #1b67ff;
        padding: 10px;
        width: 100%;
    }

    .joinSquadron:visited {
        color: white;
    }

    .joinSquadron:hover {
        background-color: #578fff;
    }

    .homePageEventsContainer {
        padding: 10px;
        background-color: rgb(58, 58, 58);
        border-radius: 20px;
        width: 80%;
        height: auto;
        position: relative;
        color: white;
    }

    .homePageEventsHeader {
        display: flex;
        margin-right: 10px;
        justify-content: space-between;
        align-items: center;
        font-weight: bold;
    }

    .upcomingEvents {
        margin-left: 10px;
    }

    .allEventsLink {
        margin-right: 15px;
    }

    .allEventsLink:hover, .allEventsLink:focus {
        color: teal;
    }

    .homePageEventList {
        display: flex;
        list-style: none;
        overflow-x: scroll;
    }



    .eventItemContent {
        box-sizing: border-box;
        margin: 0px;
        min-width: 0px;
        display: flex;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
        border-radius: 10px;
    }

    .eventLink {
        display: block;
        cursor: pointer;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        overflow: hidden;
        border-radius: 10px;
    }

    .eventItem {
        width: auto;
        padding-left: 20px;
        padding-bottom: 4px;
        margin: 0;
        display: flex;
        flex: 0 0 auto;
        box-sizing: border-box;
        justify-content: center;

    }

    .imageContainer {
        position: absolute;
        display:block
    }

    .informationContainer {
        width: 100%;
        padding-top: 10px;
        padding-left: 10px;
        text-overflow:ellipsis;
        overflow: hidden;
        white-space: nowrap
    }

    .informationContainer p {
        margin: 5px;
        display: flex;
        flex-direction: column;
    }

    .eventContainer {
        display: flex;
        flex-direction: column;
        margin: 0px;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        overflow: hidden;
        border-radius: 10px;
    }

    .eventContainer:hover, .eventLink:hover, .eventLink:focus, .eventContainer:focus {
        background-color: rgb(124, 124, 124);
    }

    .imageContainerWrapper {
        width: 100%;
        height: 140px;
    }

    .eventGameLinkContainer {
        width: 100%;
        text-overflow:ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .eventGame {
        margin: 5px;
        width: fit-content;
        cursor: pointer;
        z-index: 0;
        position: relative;
    }

    .eventGame:hover, .eventGame:focus {
        color: rgb(189, 189, 189);
        text-decoration: underline;
    }

    .eventDate {
        font-style:italic;
        font-weight: bold;
        font-size: .8em;
    }

    tbody {
        font-size: .8em;
    }

    .eventTitle {
        font-size: .9em;
    }

    ul {
        list-style: none;
    }
}
