.aboutPageWrapper {

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: url('../../images/gradient-background.jpg') no-repeat center center fixed ;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: fadeInAnimation ease 2.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

	@-moz-keyframes header {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@-webkit-keyframes header {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@-ms-keyframes header {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}

	@keyframes header {
		0% {
			-moz-transform: translate3d(0,1em,0);
			-webkit-transform: translate3d(0,1em,0);
			-ms-transform: translate3d(0,1em,0);
			transform: translate3d(0,1em,0);
			opacity: 0;
		}

		100% {
			-moz-transform: translate3d(0,0,0);
			-webkit-transform: translate3d(0,0,0);
			-ms-transform: translate3d(0,0,0);
			transform: translate3d(0,0,0);
			opacity: 1;
		}
	}


.fade-in {
	opacity:0;
	-webkit-animation:fadeIn ease-in 1;
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:2.5s;
	-moz-animation-duration:2.5s;
	animation-duration:2.5s;
}

.aboutPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    margin: 0px 20px;
    position: relative;
}
.aboutHeader {
    display: flex;
    justify-content: center;
    color: white;
    top: 100px;
    margin: 25px;
    -moz-animation: header 1s 1.75s forwards;
    -webkit-animation: header 1s 1.75s forwards;
    -ms-animation: header 1s 1.75s forwards;
    animation: header 1s 1.75s forwards;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);

}

.aboutSubheader {
    color: white;
    position: relative;
    bottom: 10px;
    text-align: center;
    -moz-animation: header 1s 1.75s forwards;
    -webkit-animation: header 1s 1.75s forwards;
    -ms-animation: header 1s 1.75s forwards;
    animation: header 1s 1.75s forwards;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.socialsContainer {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;

}

.socialsContainer a {
    border-radius: 100%;
    border: 1px solid #d3d3d3;
    color: white;
    transition: 0.2s ease-in-out;

}

.github {
    -moz-animation-delay: 1.5s;
    -webkit-animation-delay:1.5s;
    -ms-animation-delay: 1.5s;
    animation-delay: 1.5s;
}
.email {
    -moz-animation-delay: 1.75s;
    -webkit-animation-delay: 1.75s;
    -ms-animation-delay: 1.75s;
    animation-delay: 1.75s;
}
.linkedin {
    -moz-animation-delay: 2s;
    -webkit-animation-delay: 2s;
    -ms-animation-delay: 2s;
    animation-delay: 2s;
}


.socialsContainer a:hover {
    background-color: rgba(182, 182, 182, 0.5);
    transform: scale(1.1)

}

@media only screen and (max-width: 550px) {
    .aboutPage {
        display: flex;
        ;
    }
    .aboutHeader {
        font-size: 2.5em;
        text-align: center;
    }

    .aboutSubheader {
        text-align: center;
    }
    .socialsContainer a {

        width: 100%;
        margin: 20px;
        padding: 20px;
    }

}

@media only screen and (min-width: 550px) {
    .aboutPage {
        display: flex;
        justify-content: space-evenly;
    }
    .aboutHeader {
        font-size: 5em;
    }

    .socialsContainer a {

        width: 100%;
        padding: 40px;
        margin: 20px;
    }

    .aboutSubheader {
        font-size: 1.2em;
    }
}