.aboutPageWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    background: url('../../images/gradient-background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;

	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;
}

.aboutPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    height: 500px;
    position: relative;
    top: 30%;
    justify-content: space-evenly;
}
.aboutHeader {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 5em;
    top: 100px;
    -webkit-animation-delay: 0.7s;
-moz-animation-delay: 0.7s;
animation-delay: 0.7s;

}

.aboutSubheader {
    font-size: 1.2em;
    color: white;
    position: relative;
    bottom: 10px;
    -webkit-animation-delay: 1.2s;
-moz-animation-delay:1.2s;
animation-delay: 1.2s;
}

.socialsContainer {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    padding: 40px;
    -webkit-animation-delay: 1.6s;
    -moz-animation-delay: 1.6s;
    animation-delay: 1.6s;

}

.github {
    -webkit-animation-delay: 1.8s;
    -moz-animation-delay: 1.8s;
    animation-delay: 1.8s;
}
.email {
    -webkit-animation-delay: 2s;
    -moz-animation-delay: 2s;
    animation-delay: 2s;
}
.linkedin {
    -webkit-animation-delay: 2.2s;
    -moz-animation-delay: 2.2s;
    animation-delay: 2.2s;
}

.socialsContainer a {
    padding: 40px;
    margin: 20px;
    background-color: none;
    border-radius: 100%;
    border: 1px solid #d3d3d3;
    color: white;
    transition: 0.2s ease-in-out
}

.socialsContainer a:hover {
    background-color: rgba(182, 182, 182, 0.5);
    transform: scale(1.1)

}
