.gamesWrapper {
    height: fit-content;
}

.gamesContainer {
    height: fit-content;
}

.gamesList {
    height: 100%;
}


.gamesOrder {
    background-color: rgb(36, 37, 38);
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.gamesOrder:hover {
    cursor: pointer;
}


.gameCardContainer a:hover, .gamesOrder:hover {
    background-color: #636363;
}

.pageButtonsContainer {
    color: white;
    display: flex;
    justify-content: space-between;
}

.pageButtons {
    cursor: pointer;
}

@media only screen and (min-width: 700px) {

    .gamesWrapper {
        margin: 40px;
        position: absolute;
        top: 80px;
        width: auto;
    }
    .gamesContainer {
        background-color: black;
        border-radius: 10px;
        margin-bottom: 50px;
        padding: 40px;
    }
    .loading {
        font-size: 3em;
        color: white;
        margin-top: 100px;
        width: 100%;
        display: flex;
        position: relative;
        justify-content: center;
    }
    .gameCardContainer {
        margin: 10px 0px;
        height: fit-content;
        display:inline-block;
        flex-direction: row;
        justify-content: flex-start;
        background-color: rgba(75, 75, 75, 0.7);
    }

    .gameCardContainer a {
        display: flex;
        width: auto;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    .gameCard {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .gameImageContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        width:fit-content;
        max-width: 300px;
        min-width: 300px
        /* margin: 0; */
    }


    .gameInformation {
        position: relative;
    }

    .ratingTitle {
        margin: 0;
    }

    .gameName {
        color: white;
        font-size: 1.5em;
        margin-top: 10px;
    }

    .gameGenres, .metacritic, .gameReleaseDate {
        color: white;
        text-align: left;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 3px 0px;
    }

    .metacritic {
        display: flex;
    }

    .metacritic p {
        margin: 0;
    }

    .gameRating {
        padding-left: 5px;
    }
}

@media only screen and (max-width: 700px) {

    .gamesWrapper {
        background-color: black;
        top: 61px;
        position: absolute;
        box-sizing: border-box;
        border-radius: 10px;
        overflow-x: hidden;
        /* max-width: 500px; */
    }

    .gamesContainer {
        width: 100%;
        padding: 40px;
        box-sizing: border-box;
    }

    .gamesList {
        width: 100%;
    }

    .loading {
        font-size: 3em;
        color: white;
        margin-top: 100px;
        width: 100%;
        display: flex;
        position: relative;
        justify-content: center;
    }
    .gameCardContainer {
        margin: 10px 0px;
        width: 100%;
        display:inline-block;
        flex-direction: row;
        justify-content: flex-start;
        background-color: rgba(75, 75, 75, 0.7);
    }

    .gameCardContainer a {
        display: flex;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        height: 80px;
    }


    .gameCard {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .gameImageContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        width:fit-content;
        max-width: 150px;
        min-width: 150px
        /* margin: 0; */
    }

    .gameInformationContainer {
        /* width: 100%; */
        display: flex;
        width: 150px;
        flex-direction: column;
        font-size: .8em;
        justify-content: center;
    }

    .gameInformation {
        position: relative;
        margin-right: 5px;
    }

    .ratingTitle {
        margin: 0;
    }

    .nameContainer {
        height:fit-content;
    }

    .gameName {
        color: white;
        font-size: 1em;
        text-align: left;
        align-items: center;
        text-overflow: ellipsis;
        margin: 0;
        overflow:hidden
    }

    .gameGenres {
        margin: 0;
    }

    .gameGenres, .metacritic, .gameReleaseDate, .gamePlatforms {
        color: white;
        /* font-size: .8em; */
        text-align: left;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;
        /* margin: 0px; */
    }
    .metacritic {
        color: white;
        display: flex;
        padding: 0;
        margin: 0;
        height: 20px;
    }

    .metacritic p {
        margin: 0;
    }

    .gameRating {
        padding-left: 5px;
    }


}
