@media only screen and (max-width: 700px) {
    .userProfileOuterContainer {
        margin: 0;
        min-height: calc(100vh - 70px);
    }

    .userProfileWrapper {
        height: calc(100vh - 70px);
        margin-top: 70px;
    }

    .userProfileOuterContainer {
        border-radius: 0px;
    }

    .userProfileInnerContainer {
        border-radius: 0px;
    }

    .userProfileHeader {
        border-radius: 0px;
    }
}

@media only screen and (min-width: 700px) {

    .userProfileWrapper {
        margin-top: 61px;
        height: calc(100vh - 61px);
    }
    .userProfileOuterContainer {
        min-height: 80vh;

    margin: 40px;
    }

    .userProfileOuterContainer {
    border-radius: 10px;
}
    .userProfileInnerContainer {
        border-radius: 10px;
    }

    .userProfileHeader {
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}
.userProfileWrapper {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.userProfileOuterContainer {
    display: flex;
    max-width: 700px;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    background-color: #1c1e21;
}

.userProfileInnerContainer {
    width: 100%;
    /* box-sizing: border-box; */
    height: auto;
    padding-top: 0px;
}

.userProfileHeader {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px 15px 0px;
    background-color: rgba(58, 58, 58, 0.7);
}

.userProfilePicture {
    margin-bottom: 15px;
}

.profileUsername {
    color: blueviolet;
    font-family: 'Exo 2', sans-serif;
    font-weight: bold;
    margin: 0;
    margin-bottom: 15px;
    font-stretch: expanded;
}

.profileNavBar {
    width: 80%;
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid #d3d0d0;
}

.profileNavBar a {
    color: white;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 5px;
    margin: 5px;

}

.profileNavBar a:hover,
.profileNavBar a:focus {
    background-color: rgba(165, 165, 165, 0.5);
}

.profileNavBar a.active  {
    border-bottom: 1px solid #1b67ff;
    color: #1b67ff;
    border-radius: unset;
    background-color: unset;
}

.profileNavBar a.active:hover {
    background-color: transparent;
}

.userSquadListWrapper {
    width: 100%;
    height: auto;
}

.noSquadsContainer {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.noSquads {
    color:white;
    margin: 0;
    text-align: center;
}

.userSquadListContainer {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    padding: 10px 50px;
    margin: 0px;
}

.squadLinksContainer {
    display: flex;

    position: relative;
    z-index: 1;
    width: 100%;
    padding: 10px;

}

.squadCardsContainer a {
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 7px;
}

.squadCardsContainer a:hover {
    background-color: #636363;
}

.userSquadCaptainLink {
    position: relative;
    z-index: 1;
}

.squadCard {
    position: relative;
    z-index: 0;
    margin: 10px;
}

.squadCardsContainer {
    position: relative;
    box-sizing: border-box;
    width: 100%;
    min-width: 300px;
    background-color: rgba(58, 58, 58, 0.7);
    border-radius: 7px;
    border: 1px solid rgb(104, 104, 104)
}

.userSquadNameContainer {
    margin: 15px;
    border-bottom: 1px solid rgb(104, 104, 104);
    padding-bottom: 10px;
}

.userSquadNameContainer p,
.userSquadInformationContainer p {
    margin: 0;
    color: white;
}

.userSquadInformationContainer {
    margin: 15px;
    font-size: .8em;
    height: 100%;
}

.userSquadInformationContainer p {
    margin-bottom: 5px;
}


.userSquadName {
    font-size: 1.2em;
}

.userAboutWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: white;

}

.userAboutContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    height: 100%;
    width: 100%;
}

.userAboutProfileEditButtonContainer {
    background-color: rgb(27, 103, 255);
    text-align: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 2px 15px;
    box-sizing: border-box;
    position: relative;
    left: 120px;
    bottom: 30px;
    cursor: pointer;
}

.userAboutProfileEditButtonContainer:hover {
    background-color: #578fff;
}

.editAboutForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
}

.editAboutFormInput {
    padding: 10px;
    font-size: 1em;
    margin: 10px 0px
}

.editAboutFormButtons {
    padding: 0px;
}

.userAboutBody {
    text-align: center;
    display: flex;
    align-items: center;
    margin: 0px 20px;
}

.userGamesWrapper {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userGamesContainer {
    text-align: center;
}

.userAboutWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.userAboutHeaderContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.userAboutHeader {
    font-size: 2em;
    margin-top: 10px;
}
