.squadOuterContainer {
    background-color: #1c1e21;
    display: flex;
    border-radius: 20px;
    box-sizing: border-box;
    width: 100%;
}

.squadInnerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;
    overflow-wrap:break-word;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.squadInformation {
    width: 100%;
    padding: 30px;
    background-color: rgb(58, 58, 58);
}

.squadName h1 {
    color: rgb(196, 132, 255);
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
    font-family: 'Exo 2', sans-serif
}

.separator {
    margin-top: 30px;
    color: #d3d0d0
}
.squadInformationNav  {
    display: flex;
    flex-direction: row;
    color: white;
}

.squadInformationNav a {
    margin: 5px 10px 5px 5px;
    font-weight: bold;
}

.squadInformationNav a:hover {
    color: teal;
}

.squadDescription p, .squadMembers {
    color: white;
    margin: 5px;
}

.squadMembers i:hover {
    color: teal
}

.squadName h1, .squadDescription {
    width: auto;
    overflow-wrap:break-word;
    word-wrap: break-word;
    margin: 0;
}

.squadCardImage {
    width: 350px;
    height: 200px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.squadContentWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

}

.squadEventListContainer {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    border-radius: 10px;
    /* max-width: 400px; */
    /* height: fit-content; */
    color: white;
}

.squadEventListHeader {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 20px;
    padding: 15px;
    padding-top: 0px;
    border-bottom: 1px solid rgb(58, 58, 58)
}

.squadAllEvents:hover {
   color: teal;
   cursor: pointer;
}

.squadEventListHeader h3, .squadEventListHeader p {
    margin: 0;
}

.squadEventImageWrapper {
    width: 100%;
    height: 100%;
}

.gameImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.squadEventItemContent {
    margin: 20px 40px;
    background-color: rgb(58, 58, 58);
    border-radius: 10px
}

.squadEventLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1px solid #d3d3d3; */
    border-radius: 10px;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    max-width: 400px;

}

.squadEventLink:hover {
    background-color: #4f4f4f;
}

.squadEventContainer {
    width: 100%;
    height: 100%;
}

.squadEventInformationContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 10px;
}

.squadEventInformationContainer p {
    margin: 0;
    font-size: .9em
}

.eventGameLink {
    width: fit-content;
}

.eventGameLink:hover {
    color: teal
}

.allSquadsPageWrapper {
    width: 100%;
    overflow-x: hidden;
    box-sizing: border-box;
}

.allSquadsPageHeaderContainer {
    font-size: 2.5em;
    width: 100%;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    padding: 15px;
    cursor: pointer;
}

.allSquadsPageHeaderContainer:hover {
    color: teal;
}


.allSquadsListContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.allSquadsPanelContainer {
    height: 100%;
    position: fixed;
}

.allSquadsSeparator {
    width: 100%;
    margin: 0px;
    box-sizing: border-box;
    color: #d3d0d0;
}

.allSquadsListBodyContainer {
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
}


.allSquadsCategory {
    padding: 10px;
    box-sizing: border-box;
    margin: 10px 0px;
    display: flex;
    justify-content: space-between;
}

.allSquadsCategory:hover {
    background-color: rgb(124, 124, 124);
    box-sizing: border-box;
    cursor: pointer;
}

.squadCategoryLink {
    padding: 0;
}

.allSquadsListContainer {
    position: relative;
    z-index: 0;
}

.activeCategory {
    background-color:rgb(124, 124, 124);
    border-right: 5px solid teal
}

.activeCategory i {
    transition: 1s all;
    rotate: 90;
}

.exploreSquadsSquadContainer {
    display: flex;
    flex-direction: column;
}

.exploreSquadsBodyContainer {
    display: flex;
}

@media only screen and (max-width: 700px) {

    .allSquadsPageWrapper {
        margin-top: 70px;
    }


    .allSquadsPanelIcon {
        text-align: center;
    }

    .panelHeader {
        color: #af73e7;
    }

    .allSquadsPageHeaderContainer {
        text-align: center;
    }

    .allSquadsPageHeaderContainer:hover span + span {
        color: teal;
    }

    .allSquadsPanelContainer {
        z-index: 300;
        transition: width 0.5s ease-in-out;
        background-color: rgb(58, 58, 58);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 60px;
    }

    .allSquadsCategoryContainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }



    .allSquadsPanelContainer:hover {
        width: 150px;
    }

    .allSquadsPanelLabel,
    .allSquadsPageHeader {
        display: none;
    }


    .allSquadsCategory {
        display: flex;
        justify-content: center;
        display:inline-block;
        text-align: center;
        box-sizing: border-box;
        flex-direction: column;
        width: 100%;
    }


    .allSquadsCategory a:active {
        border-right-width: 1px;
    }

}

@media only screen and (min-width: 700px) {

    .allSquadsPageWrapper {
        margin-top: 61px;
    }

    .allSquadsPanelContainer {
        height: calc(100vh - 61px);
        flex-direction: column;
        display: flex;
        flex-direction: column;
        width: 300px;
        background-color: rgb(58, 58, 58);
    }

    .allSquadsCategoryContainer {
        background-color: #1c1e21;
    }

    .hidden {
        display: none;
    }

    .allSquadsCategory {
        margin: 10px 0px;
        width: 100%;
    }
}

.allSquadsPageWrapper {
    width: 100vw;
    display: flex;
}

.allSquadsPageContainer {
    width: 100%;
    height: 100%;
    display: flex;
    color: white;
}

.allSquadsPanelContainer {
    box-sizing: border-box;
    left: 0;
}


.allSquadsCategoryContainer {
    font-family: 'Exo 2', sans-serif;
    width: 100%;
    height: 100%;
}

.allSquadsCategory {
    font-size: 1.5em;
}

.allSquadsCategory a {
    display:inline-block;
    box-sizing: border-box;
    padding: 10px;
    width: 100%;
}

.allSquadsCategory a.active {
    /* color: teal; */
    border-right: 5px solid teal
}

.allSquadsListWrapper {
    position: absolute;
    left: 300px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.allSquadsListContainer {
    background-color:#1c1e21;
    width: 100%;
    box-sizing: border-box;
    display: flex;

}

.allSquadsListHeaderContainer {
    font-size: 2em;
    box-sizing: border-box;
    padding: 30px;
    margin: 20px 0px;
    border-bottom: 1px solid #d3d0d0;
    border-top: 1px solid #d3d0d0;
}

.top {

    margin-top: 0px;
    border-top-color: transparent;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.allSquadsListHeader {
    width: 100%;
    display: flex;
}

.categoryHeader {
    margin-right: 10px;
}

.categoryIcon {
    display: flex;
    text-align: center;
    position: relative;
    top: 5px;
    box-sizing: border-box;
}

.allSquadsList {
    width: fit-content;
    height: 400px;
    margin: 15px;
    background-color: rgb(58, 58, 58);
    box-sizing: border-box;
    border-radius: 10px;
}

.squadCardImageContainer {
    height: 200px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;

}

.squadDescriptionContainer {
    height: 150px;
    box-sizing: border-box;
    padding: 15px;
}

.squadListSquadCaptain {
    cursor: pointer;
    font-size: 1em;
    width: fit-content;
}

.squadListSquadCaptain:hover {
    color: teal;
}

.squadListSquadLink {
    cursor: pointer;
    border-radius: 10px;
    box-sizing: border-box;
    height: 100%;
}

.squadListSquadLink:hover {
    background-color: rgb(79, 79, 79);
}

.squadListSquadName {
    font-size: 1.7em;
    font-weight: bold;
}

.seeAllSquadArrow1,
.seeAllSquadArrow2,
.seeAllSquadArrow3 {
    position: absolute;
    font-size: 3em;
    background-color: rgb(88, 88, 88);
    border-radius: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.seeAllSquadArrow1:hover,
.seeAllSquadArrow2:hover,
.seeAllSquadArrow3:hover {
    background-color: rgb(116, 116, 116);
    width: 52px;
    height: 52px;

}

.seeAllSquadArrow1 {
    right: 320px;
    top: 320px;
}

.seeAllSquadArrow2 {
    top: 890px;
    right: 320px;
}

.seeAllSquadArrow3 {
    bottom: 200px;
    right: 320px;
}