.squadOuterContainer {
    background-color: black;
    display: flex;
    border-radius: 20px;
    box-sizing: border-box;
    width: 100%;
}

.squadInnerContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 20px 30px;
    padding: 10px;
    max-width: 100%;
    overflow: hidden;
    overflow-wrap:break-word;
}

.squadInformation {
    width: 100%;
}

.squadName h1 {
    color: blueviolet;
    font-family: 'Exo 2', sans-serif
}

.separator {
    margin-top: 30px;
    color: #d3d0d0
}
.squadInformationNav  {
    display: flex;
    flex-direction: row;
    color: white;
}

.squadInformationNav a {
    margin: 5px 10px 5px 5px;
    font-weight: bold;
}

.squadInformationNav a:hover {
    color: teal;
}

.squadDescription p, .squadMembers {
    color: white;
    margin: 5px;
}

.squadMembers i:hover {
    color: teal
}

.squadName h1, .squadDescription {
    width: auto;
    overflow-wrap:break-word;
    word-wrap: break-word;
    margin: 0;
}

.squadEventListWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

}

.squadEventListContainer {
    padding: 10px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    border-radius: 10px;
    max-width: 400px;
    height: fit-content;
}

.squadEventListHeader {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 10px;
}

.squadAllEvents:hover {
   color: teal;
   cursor: pointer;
}

.squadEventListHeader h3, .squadEventListHeader p {
    margin: 0;
}

.squadEventImageWrapper {
    width: 100%;
    height: 100%;
}

.gameImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.squadEventItemContent {
    margin: 20px 40px;
}

.squadEventLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #d3d3d3;
    border-radius: 10px;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    max-width: 400px;

}

.squadEventLink:hover {
    background-color: #e2e0e0;
}

.squadEventContainer {
    width: 100%;
    height: 100%;
}

.squadEventInformationContainer {
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 10px;
}

.squadEventInformationContainer p {
    margin: 0;
    font-size: .9em
}

.eventGameLink {
    width: fit-content;
}

.eventGameLink:hover {
    color: teal
}