body {
    padding: 50px;
    font: 400 16px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    overflow-x: hidden;
  }
  .errors {
    color: red;
    border-bottom: 1px solid red;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .7em;
}

.errors li {
    list-style: none;
    padding: 5px;
    display: flex;

}