
:focus {
    outline: none;
}

a {
    color: inherit
}

select {
    font-family: inherit;
}

html {
    margin: 0;
   height: 100%
}
body {
    margin: 0;
   height: 100%;
    font-family: 'Cabin', sans-serif;
    background: url('./images/stock-gaming-background.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

button {
    font-family: 'Cabin'
}

#root {
    margin: 0;
    width: 100vw;
    min-height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

}

h1, h2, h3, h4, h5, h6 {
    font-weight: 500;
}

form {
    padding: 100px 60px;
}

label {
    position: absolute;
    top: 0;
    left: 0;
    color: #919090;
    transition: 0.2s;
    cursor: text;
    background:white;
    background-color: rgba(0,0,0,0);
    padding: 0px
}

input {
    /* width: 100%; */
    border: 0;
    outline: 0;
    padding: 0.5rem 0;
    background-color: white;
    color: #111;
    border-color: #d3d3d3;
    border-bottom: 2px solid #d3d3d3;
    border-width: 1px;
    height: 25px;
    font-family: 'Cabin'
}

input::placeholder {
    font-family: 'Cabin'
}


input:invalid:focus {
    border-color: red;
}
input:focus,
input:valid {
    border-color: #3576f8;
    outline-offset: 0px;
}

input:focus~label,
input:valid~label  {
    font-size: 14px;
    top:-18px;
    color: #3576f8;
    font-size: 10px;
}

input:invalid:focus~label {
    color: red;
}

  .errors {
    color: red;
    border-bottom: 1px solid red;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .7em;
}

.errors li {
    list-style: none;
    padding: 5px;
    display: flex;

}
