body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    overflow-x: hidden;
  }
  .errors {
    color: red;
    border-bottom: 1px solid red;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 50px;
}

.errors li {
    list-style: none;
    padding: 5px;
}