
div {
    display: block;
}


.login-content {
  border: #d3d3d3 solid 1px;
  top: 10%;
  left: 20%;
  text-align: center;
  width: 500px;
  border-radius: 10px;
  padding: 20px 0 30px;
  display: flex;
  flex-direction: column;
  align-content: center;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}
.login-header {
    text-align: center;
    font-size: 24px;
    margin: 10px;
    padding: 10px;
}


.loginInputField {
    position: relative;
    width: 250px;
    height: 44px;
    line-height: 44px;
    margin: 20px;
}

.loginButton {
    width: 210px;
    margin-top: 25px;
    margin-bottom: 0px;
    padding: 5px;
    border: none;
    color: white;
    background-color: #3576f8;
    border-radius: 5px;
}

.loginButton:hover {
    background-color: #578fff;
    cursor: pointer;
}

.registerLink {
    margin: 20px;
    padding: 20px;
    width: auto
}

.registerLink:hover {
    width: auto;
    border-radius: 4px;
}