@media only screen and (min-width: 750px) {
    .searchResultsOuterContainer {
        margin: 40px;
        margin-top: 40px;
    }
}

@media only screen and (max-width: 750px) {
    .searchResultsOuterContainer {
        margin: 0px;
    }
}

.searchResultsWrapper {
    height: 100%;
    width: 100%;
    margin-top: 61px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchResultsOuterContainer {
    display: flex;
    height: 100%;
    max-width: 700px;
    width: 100%;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    background-color: #1c1e21;
    border-radius: 10px;
}

.searchResultsInnerContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.searchResultsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}

.searchResultsTitle {
    color: white;
    background-color: rgba(58, 58, 58, 0.7);
    width: 100%;
    display: flex;
    justify-content: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 30px;
}

.searchResultsInformationContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.resultsContainer {
    display: flex;
    flex-direction: column;
    background-color: rgba(58, 58, 58, 0.7);
    padding: 10px 20px;
    border-radius: 5px;
    margin: 10px 20px;
}

.searchResultsHeader {
    display: flex;
    justify-content: space-between;
    padding: 10px 5px;
    border-bottom: 1px solid rgb(114, 114, 114)

}
.searchResultsLabel {
    font-size: 1.2em;
}

.searchResults {
    margin-top: 5px;
}

.searchResults p {
   margin: 0px;
}

.searchLinkContainer {
    margin: 5px;
}

.searchLinkContainer a:hover {
    color: teal;
}