
a {
    text-decoration: none;
}

a:visited {
    color: inherit
}

ul {
    padding:0;
}

.mainNavBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    position: absolute;
    z-index: 999;
    background-color: white;
    border-bottom: 1px solid #d3d3d3;
    overflow: hidden;
}

.profileMenu {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-sizing: border-box;
    border-left: 1px solid rgb(146, 145, 145);
    border-bottom: 1px solid  rgb(146, 145, 145);
    top: 45.45px;
    height: 100px;
    right: 0px;
    z-index: 500;
    background-color: white;
    border-bottom-left-radius: 10px;
    list-style: none;
    width: auto;
}

.home {
    color: blueviolet;
    font-family: 'Exo 2', sans-serif;
    font-size: 1.5em;
    }

.home:visited {
    color: blueviolet;
}

.home:hover, .home:focus {
    color: teal;
    background-color: #e2e0e0;
}

.navBarLinks {
    display: flex;
    width: auto;
    padding: 15px 20px;
    justify-content: center;
}

.login {
    padding: 20px 15px;
    /* margin: 10px; */
    border-radius: 0%;
}

.searchForm {
    padding: 0;
}

.searchInputContainer:focus-within {
    border-color: #578fff;
    color: #1b67ff
}

.searchInputContainer {
    display: flex;
    align-items: center;
    height: 100%;

    padding: 0 10px;
    border: 1px solid #d3d3d3;
    border-radius: 5px;
}

.searchButtonContainer {
    width: fit-content;
    cursor: pointer;
    color: #555555;
}

.home {
    padding: 20px;
}

.searchButtonContainer:hover {
    color: #578fff
}

.searchInput {
    padding-left: 10px;
}

.searchInput:focus~span {
    color: #1b67ff
}

.searchInput:valid {
    border-bottom: unset;
}

.login {
    margin-right: 10px;
}

.loggedInContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loginLogoutSignup {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileButton {
    position: relative;
    margin: 0px;
    padding: 20px;
    height: 20px;
    color: #555555;
}

.createSquad {
    padding: 20px;
}
.createSquad:visited {
    color: #555555;
    bottom: 5px;
}
.createSquadPlus {
    border-radius: 100%;
    color: white;
    padding: 0px 5px;
    margin: 0px 5px;
    color: #555555;
    width: 100%;
    position: relative;
    bottom: 5px;
}

.createSquadPlus:visited {
    color: #555555
}

.createSquadPlus:focus,
.createSquadPlus:hover {
    color: teal;
}

.profileButton:hover,
.profileButton:focus {
    color: #333;
    cursor: pointer;
}



.navBarLinks:hover, .login:hover, .createSquad:hover, .createSquad:focus {
        color: teal;
        background-color: #e2e0e0;
    }


.signup:visited {
    color: white;
}

.barContainer {
    display: inline-block;
    cursor: pointer;
    position:relative;
    padding: 20px;
}

/* Small Screens */
@media only screen and (max-width: 700px) {



    .home,
    .barContainer
     {
        padding: 20px;
    }

    .home {
        display:inline-block;
        box-sizing: border-box;
        margin-right: 20px;
        padding: 0;
    }

    .home:hover {
        background-color: transparent;
    }


    .loginLogoutSignup {
        /* margin-right: 10px; */
        /* padding-right: 10px; */
        display: flex;
        align-items: center;
        margin-right: 10px;
    }


    .small {
        font-size: 2.7em;
        height: 69px;
        display: flex;
        align-items: center;
        margin: 0;
        padding: 0px 10px;
    }

    .large {
        display: none;
    }

    .searchInput {
        display: none;
    }
    .searchInputContainer {
        border: none;
        padding: 0;
        display:flex;
        align-items: center;
    }

    .searchBarContainer {
        width: 16px;
        margin-right: 10px;
    }

    .searchButtonContainer {
        position: relative;

    }

    .signup:visited {
        color: white
    }

    .login:hover {
        color: teal;
        border-radius: 4px;
    }

    .logoutButton {
        padding: 5px 10px 5px 10px;
        background-color: #1b67ff;
        border-radius: 5px;
        color: white
    }

    .signup:hover, .logoutButton:hover {
        background-color: #578fff;
        cursor: pointer;
    }

    .logoutButton {
        border: none;
        margin: 0px 10px 0px 10px
    }

    .signup {
        padding: 5px 10px 5px 10px;
        width: 50px;
        background-color: #1b67ff;
        border-radius: 5px;
        font-size: .8em;
        height: 20px;
        display:flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .profileButton {
        padding: 20px 10px
    }


    .profileMenu > li {
        margin: 5px 0px 5px 0px;
        text-align: center;
    }

    .profileLink {
        padding: 15px
    }

    .menu {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1000;
        background-color: white;

    }

    .barContainer:hover, .profileButton:hover, .profileButton:focus, .barContainer:focus {
        background-color: #e2e0e0;
    }

    .bar1, .bar2, .bar3 {
        width: 20px;
        height: 3px;
        pointer-events: none;
        background-color: #333;
        transition: 0.3s;
        margin: 3px 0;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(0px, 6px);
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .change .bar2 {opacity: 0;}

    .change .bar3 {
    -webkit-transform: rotate(45deg) translate(0px, -8px);
    transform: rotate(45deg) translate(-2px, -3px);
    }

    .stickyDropDownMenu {
        position: absolute;
        box-sizing: border-box;
        border-right: 1px solid  rgb(146, 145, 145);
        border-bottom: 1px solid  rgb(146, 145, 145);
        z-index: 500;
        top: 61px;
        left: 0;
        border-bottom-right-radius: 5px;
        background-color: white;
        display: none;
        width: auto;
    }
   .dropDownLinks {

       border-bottom-right-radius: 10px;
   }
    .show {
        display: flex;
        justify-content: center;
    }

    .stickyDropDownMenu ul {
        list-style: none;
    }
}

/* Large Screens */
@media only screen and (min-width: 700px) {



    .loginLogoutSignup {
        margin-right: 20px;
    }

    .small {
        display: none;
    }

    .signup:visited {
        color: white
    }

    .login:hover, .login:focus{
        color: teal;
        border-radius: 4px;
    }

    .signup, .logoutButton {
        padding: 5px 10px 5px 10px;
        background-color: #1b67ff;
        border-radius: 5px;
        color: white
    }

    .signup:hover, .logoutButton:hover, .signup:focus, .logoutButton:focus {
        background-color: #578fff;
        cursor: pointer;
    }

    .logoutButton {
        border: none;
        margin: 0px 10px 0px 10px
    }

    .profileButton {
        padding: 20px 25px;

    }

    .searchInputContainer {
       margin-left: 10px;
    }


    .profileMenu > li {
        margin: 5px 0px 5px 0px;
        text-align: center;
    }

    .profileLink {
        padding: 15px
    }


    .menu {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1000;
        background-color: white;

    }


    .barContainer:hover, .profileButton:hover, .barContainer:focus, .profileButton:focus {
        background-color: #e2e0e0;
    }

    .bar1, .bar2, .bar3 {
        width: 20px;
        height: 3px;
        pointer-events: none;
        background-color: #333;
        transition: 0.3s;
        margin: 3px 0;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(0px, 6px);
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .change .bar2 {opacity: 0;}

    .change .bar3 {
    -webkit-transform: rotate(45deg) translate(0px, -8px);
    transform: rotate(45deg) translate(-2px, -3px);
    }

    .stickyDropDownMenu {
        position: absolute;
        box-sizing: border-box;
        border-right: 1px solid  rgb(146, 145, 145);
        border-bottom: 1px solid  rgb(146, 145, 145);
        z-index: 500;
        top: 61px;
        left: 0px;
        background-color: white;
        /* left: 20px; */
        /* padding: 10px; */
        display: none;
        width: auto;
        padding: 0px;
        border-bottom-right-radius: 5px;
    }

    .show {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .dropDownLinks {
        list-style: none;
        padding: 0px;
        margin: 0;
        display: flex;
        flex-direction: column;
        align-content: center;
    }

}